@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "OpticianSans";
    src: url("./fonts/Optician-Sans.otf");
  }

  * {
    margin: 0;
  }

  html {
    overflow-x: hidden;
  }

  body {
    color: theme(colors.primary);
    background-color: theme(colors.secondary);
    width: 100vw;
  }

  main {
    width: 100%;
    max-width: 700px;
    min-height: 100vh;
    margin: 50px auto;
    padding: 0 15px;
  }

  h1,
  h2,
  span {
    font-family: theme(fontFamily.optician);
  }

  h2 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  h3 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 6px;
  }

  span {
    font-weight: 600;
  }

  p {
    font-family: theme(fontFamily.serif);
    font-size: 16px;
    line-height: 2;
  }

  a {
    font-family: theme(fontFamily.serif);
    text-decoration: none;
    padding: 2px;
  }

  h1,
  h2,
  h3,
  p,
  a,
  span {
    color: theme(colors.primary);
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
  }
}
